<div class="container">
  <div class="photo">
    <img src="https://cdn.pixabay.com/photo/2018/09/05/16/33/dna-3656587_1280.jpg" alt="">

    <span>19/01/2024</span>
  </div>
  <div class="title">
    <h1>Vacina Inovadora Contra Gripes Resistentes</h1>

  </div>
  <div class="description">
    <p>Cientistas revelaram uma vacina experimental altamente eficaz contra cepas resistentes de gripe. Os ensaios clínicos mostraram uma taxa de eficácia surpreendente de 95%, levantando expectativas para uma nova abordagem no combate a gripes mais virulentas.</p>
  </div>
</div>
