<div class="container">
  <app-menu-title></app-menu-title>
  <div class="home-left-and-right">
    <div class="home-left">
      <app-big-card
      Id="1"
        cardPhoto="https://cdn.pixabay.com/photo/2021/05/22/21/32/man-6274651_640.jpg"
        cardTitle="Avanço Científico Promissor: Pesquisadores Desenvolvem Terapia Genética Revolucionária Contra Doenças Crônicas"
        cardData="21/01/2024"
        cardDescription="Em uma descoberta revolucionária, cientistas anunciam o desenvolvimento de uma terapia genética inovadora que pode transformar o tratamento de doenças crônicas. Os pesquisadores conseguiram modificar genes de maneira precisa, abrindo caminho para uma abordagem personalizada e eficaz no combate a condições como diabetes, doenças cardíacas e outras enfermidades persistentes. Esta descoberta promissora representa um marco significativo na medicina, oferecendo esperança para milhões de pessoas em todo o mundo que enfrentam desafios de saúde de longo prazo."
      ></app-big-card>
    </div>
    <div class="home-right">
      <app-small-card
      Id="2"
        cardTitle="Vacina disponivel"
        cardPhoto="https://cdn.pixabay.com/photo/2021/01/06/19/45/vaccine-5895477_1280.jpg"
        cardData="21/01/2024"
      ></app-small-card>
      <app-small-card
      Id="3"
        cardPhoto="https://cdn.pixabay.com/photo/2016/02/18/13/32/darth-vader-1207142_640.jpg"
        cardTitle="Novo imperador galático é eleito"
        cardData="21/01/2024"
      ></app-small-card>
      <app-small-card
      Id="4"
        cardPhoto="https://cdn.pixabay.com/photo/2022/06/07/12/53/peter-pan-7248338_640.jpg"
        cardTitle="Medicos descobrem nova doença: Síndrome de Peter Pan"
        cardData="21/01/2024"
      ></app-small-card>
    </div>
  </div>
</div>
